oh-my-zsh:
  users:
    vagrant:
      username: vagrant
      group: vagrant
    deploy:
      username: vagrant
      group: vagrant
  home: /home
  theme: nicoulaj
  disable-auto-update: false
  disable-update-prompt: true
  disable-untracked-files-dirty: true
  plugins: git rails ruby debian zsh-navigation-tools
